<!DOCTYPE html>
<html>
  <head>
    <title>RailsNews</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_pack_tag 'rails-news' %>
    <%= action_cable_meta_tag %>
  </head>

  <body>
    <%= javascript_pack_tag 'rails-news' %>
    <%= yield %>
  </body>
</html>
